@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

body {
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
}

.logo {
    height:200px;
}

header {
	margin-bottom:50px;
	display: block;
}

article {
	display: block;
	clear: both;
	min-height: 500px;
}

.navigation {
    list-style-type: none;
    padding: 0;
    float: right;
}

.navigation > li {
  display: inline-block;
  margin-left: 10px;
}

.wrapper {
    max-width:1250px;
    margin:0 auto;
    padding:0 20px;
}

.item-cols {
    font-size: 0; /* Could also use "white-space: nowrap;" for this gets rid of all extra whitespace OR use typical "float:left;" */
	display: block;
	width:100%;
	margin:0 auto;
}

.col-4 {
    display:block;
	width:24%;
	height: auto;
    margin-right:1%;
    font-size:16px;
    text-align:center;
	float:left;
}

.col-4:last-child {
    margin-right:0;
}

h1, h2, h3 {
	color:#38789D;
	text-align:center;
}

h1 {
	font-size:24px;
}

h2 {
	font-size:90%;	
}

a {
	text-decoration:none;
	color:#38789D;
}

button {
	background-color:#38789D;
	color:#fff;
	padding:10px;
	border:none;
}

footer p {
	display: block;
	text-align: center;
	width:100%;
	min-height: 50px;
	margin:15px auto;	
	clear: both;
}

.button {
	background-color:#38789D;
	color:#fff;
	padding:10px;
	border:none;
	transition-duration: 0.2s;
    transition-property: opacity;
}
.button:hover {
	opacity: 0.5;
}


/* My animation style */
@keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
}

@keyframes color-change2 {
    from {fill: #377aa7;}
    to {fill: #D44352;}
}

@keyframes sky-move {
	from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}

.wp_plaza {
	animation-duration: 3s;
	animation-name:color-change;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
}

.boa_building {
	animation-duration: 2s;
	animation-name:color-change2;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.sun_clouds {
	animation-duration: 30s;
  	animation-name: sky-move;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
  	animation-timing-function: linear;
}


/* === MY PORTFOLIO JQUERY === */
.mg_details {
  display: none;
}


/* Media Queries Below This Line */
@media all and (min-width:320px) and (max-width:767px) {
	
	header {
		text-align: center;
		margin:0 auto;
	}
	
	.logo {
		width:50%;
		height:auto;
	}
	
	.navigation {
    list-style-type: none;
    padding: 0;
    float:none;
	margin:10px auto;
	text-align: center;			
	}
		
	.item-cols{
		width:100%;
	}
	
	.col-4 {
    width:100%;
    display:block;
    margin-right:1%;
    font-size:16px;
    text-align:center;
	float:left;
	}
	
	.col-4 img {
		width:100%;
	}
	
	h2 {
	font-size: 2vh;
	}

}

/* iPads (portrait and landscape) ----------- */
@media all and (min-width : 768px) and (max-width : 1024px) {
	
	header {
		text-align: center;
		margin:0 auto;
	}
	
	.navigation {
    float:none;
	margin:10px auto;
	text-align: center;			
	}
	
	.item-cols{
		max-width:768px;
	}
	
	.col-4 {
    width:49%;
    display:block;
    margin-right:1%;
    font-size:16px;
    text-align:center;
	float:left;
	}
	
	.col-4 img {
		width:100%;
	}
	
	h2 {
	font-size: 2vh;
	}

}